/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
	--blue: rgb(0, 69, 153);
	--blue-light:rgba(0, 69, 153, 0.575);
	--red: rgb(255, 68, 56);
	--white: #FFFFFF;
	--grey: #efefef;

	--font-default: 'Roboto', sans-serif;

}

body {
	margin: 0;
	padding: 30px;
	font-family: var(--font-default);
	background-color: var(--white)

}
main {
	margin-top: 5em;
}

/*
 **************************************
	MENU
 **************************************
*/
.menu__checkbox {
	position: absolute;
	left: -999999px;
	background-color: var(--grey);
}
.menu__toggler {
	cursor: pointer;
}
.menu__icon {
	height: 2em;
	width: auto;
	display: block;
}
.menu__wrapper{
	display: none;
	padding: 1em;
	list-style: none;
	background-color: var(--blue);
	color: var(--grey);

}
.menu__item {
	border-bottom: 1px solid var(--grey);
	font-weight: bold;
	text-transform: uppercase;
	list-style: none;

}
.title {
	border-bottom: none;
	margin-bottom: 3em;
	font-style: italic;
}
.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: var(--grey);
}

.menu__link:hover {
	color: var(--blue);
	background-color: var(--grey);
}

.menu__checkbox:checked ~ .menu__wrapper {
	display: block;
}
.menu__checkbox:checked ~ .menu__title {
	display: none;
}



@media screen and (min-width: 800px) {

	.menu__toggler {
		display: none;
	}

	.menu__wrapper {
		display: flex !important;
		justify-content: space-between;

	}
	.menu__title {
		text-align: center;
		align-items: flex-end;
		justify-items: baseline;
		font-style: italic;
	}
	.menu__list {
		display: flex !important;
		justify-content: flex-end;
	}
	.menu__item {
		border-right: 1px solid var(--grey);
		border-bottom: 0;
	}
	.menu__link:hover {
		border-bottom: 2px solid var(--blue);
	}
}

/*
 **************************************
	FOOTER
 **************************************
*/
.footer__icon{
	margin: 0.5em 0.25em 0.5em 0.25em;
	width: 1em;
	height: 1em;
}
.footer__heart{
	margin: 0px;
	width: 1em;
	height: 1em;
}
.footer__logo {
	width: 100px;
	height: 50px;
}
.footer__item {
	margin: 1em;
}
.footer__item--logo {
	text-transform: uppercase;
	color: var(--blue);
	font-weight: bold;
}
.red {
	color: red;
}
.wrapper {
	display: flex;
	background-color: var(--grey);
	justify-content: space-evenly;
}
.footer__right{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.footer__left {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

}

@media (min-width: 800px) {

	.wrapper {
		justify-content: space-around;
	}
	.footer__left {
		flex-direction: row;
	}
	.footer__right {
		flex-direction: row;
	}
	.footer__icon{
		margin: 0.5em;
		width: 1em;
		height: 1em;
	}
}
/*
 **************************************
	BUTTONS
 **************************************
*/
.button__bar {
	display: flex;
	justify-content: center;
}
.button__primary {
	display: flex;
	justify-content: center;
	margin-top: 20%;
	margin-bottom: 20%;
	min-width: 100px;
	width: 50%;
	padding: 1em;
	font-weight: bolder;
	color: var(--white);
	background-color: var(--red);
	border-radius: 10px;
	border: none;
	text-align: center;
	list-style: none;
	text-decoration: none;
	cursor: pointer;
}
.button__primary:hover {
	transform:scale(110%);
}
.reset {
	background-color: var(--blue);
	margin-top: 0;
}

@media (min-width: 800px) {

	.button__primary {
		width: 300px;
	}
}

/*
 **************************************
	INDEX
 **************************************
*/

.blockquote {
	text-align: center;
}

/*
 **************************************
	FORM
 **************************************
*/
.inputs {
	display: flex;
	flex-direction: column;
	color: grey;
	line-height: 1.5em;
}
.input__form {
	border: none;
	box-shadow: 0px 4px 6px var(--blue-light);
	border-radius: 10px;
	height: 2.5em;
	
}
.textarea__form {
	border: none;
	box-shadow: 0px 4px 6px var(--blue-light);
	border-radius: 10px;

}
.asterix {
	color: var(--red);
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 800px) {
	.buttons {
		flex-direction: row;
		justify-content: center;
	}
	.button__primary {
		margin-top: 10%;
	}
	.input__form {
		width: 300px;
	}

}


/*
 **************************************
	INSPIRATION
 **************************************
*/

.Inspiration__Wrapper {
	display: grid;
	grid-template-columns: auto;
	gap: 0.25em;
}

.Inspiration {
	padding: 0px;
	line-height: 1.5;
	text-align: center;
	color: grey;
	box-shadow: 0px 4px 6px var(--blue-light);
    border-radius: 10px;
}

.Inspiration:hover {
	transform:scale(115%);
}
.blockquote__inspiration {
	margin: 0.5em;
}

@media (min-width: 800px) {
	.Inspiration__Wrapper {
		grid-template-columns: repeat(3, minmax(100px,600px));
		gap: 30px;
		justify-content: space-evenly;
		align-self: center;
		}
	.Inspiration {
		width: auto;
		height: 300px;
		text-align: center;
	}
	.blockquote__inspiration {
		text-align: center;
	}
}
